[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Create a Mobile Navigation Menu
Type=Link
URL=https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
Icon=text-html
